SECRET_KEY= # your secret key

DEBUG=

# Database parameters
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
LOCATION=

CELERY_RESULT_BACKEND=
CELERY_BROKER_URL=

BOT_TOKEN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=